
#font-size-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#font-size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%; 
  background: #9660FE;
  cursor: pointer;
}

#font-size-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9660FE;
  cursor: pointer; /* Cursor on hover */
}